@charset "UTF-8";
@font-face {
    font-family: 'SkyTextRegular';
    src: url("sky_reg-webfont.eot");
    src: url("sky_reg-webfont.eot?#iefix") format("embedded-opentype"), url("sky_reg-webfont.woff") format("woff"), url("sky_reg-webfont.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'SkyTextMedium';
    src: url("sky_med-webfont.eot");
    src: url("sky_med-webfont.eot?#iefix") format("embedded-opentype"), url("sky_med-webfont.woff") format("woff"), url("fonts/sky_med-webfont.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'SkyTextBold';
    src: url("sky_bold-webfont.eot");
    src: url("sky_bold-webfont.eot?#iefix") format("embedded-opentype"), url("sky_bold-webfont.woff") format("woff"), url("fonts/sky_bold-webfont.ttf") format("truetype");
    font-style: normal;
}

html,
body,
.advert {
    width: 300px;
    height: 250px;
}

html,
body {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    overflow: hidden
}

.advert {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}

.advert-border {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    height: 248px;
    left: 0;
    position: absolute;
    top: 0;
    width: 298px;
    z-index: 2;
}

.canvas {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
}

.preloader {
    position: absolute;
    background-image: url('preloader.gif');
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    z-index: 3;
}

#text-container > * {
    z-index: 3;
}

.calltoaction {
    font-family: 'SkyTextRegular';
    z-index: 11;
    font-size: 16px;
    text-align: center;
    vertical-align: baseline;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    line-height: 30px;
    opacity: 0;
    width: 100%;
    top: 220px;
    left: 76px;
}

.txProperties {
    font-family: 'SkyTextRegular';
    font-size: 12px;
    color: #ffffff;
    line-height: 13px;
    z-index: 2;
    text-align: right;
    margin: 0;
}

strong {
    color: rgb(94, 94, 94);
    font-family: 'SkyTextMedium';
}

.strapline {
    font-family: 'SkyTextRegular';
    color: rgb(130, 130, 132);
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    top: 195px;
    vertical-align: baseline;
    z-index: 4;
    opacity: 0;
}

.strapline-title {
    top: 190px;
    font-size: 21px
}

.strapline-offer {
    top: 94px;
    font-size: 25px;
}

.tx-scene {
    font-size: 11px;
    font-family: 'SkyTextRegular';
    text-align: left;
    margin: 10px;
    top: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 2px rgb(0, 0, 0), 0px -1px 2px rgb(0, 0, 0);
}
